.hero {
    width: 100%;
    height: 420px;
    background-image: url('../../assets/images/2025-1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    border: 8px solid var(--mustard);
    box-sizing: border-box;
  }

  .left-blossom {
    background-image: url('../../assets/images/blossoms-left.png');
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    border: 8px solid var(--mustard);
    box-sizing: border-box;
  }